footer{
  .main_footer{
    display: flex;
    align-items: center;
    background: linear-gradient(#c6002a, #620000);
    justify-content: space-between;
    height: auto;
    padding: 10px 15px;
    flex-wrap: wrap;

    @media(max-width: 991px){
      justify-content: center;
      flex-direction: column;
    }

    .mf_soc{
      @media(max-width: 991px){
        margin-top: 15px;
      }

      a{
        display: inline-block;
        width: 38px;
        height: 38px;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        margin-left: 9px;

        &:hover{
          cursor: pointer;
        }
      }

      .facebook{
        background-image: url(https://kisskiss.show/assets/v.2/img/soc_fb.png);
      }

      .instagram{
        background-image: url(https://kisskiss.show/assets/v.2/img/soc_insta.png);
      }

      .twitter{
        background-image: url(https://kisskiss.show/assets/v.2/img/soc_twitter.png);
      }
    }

    .quick_links{
      .mf_link{
        color: #fff !important;
        margin-right: 15px;

        @media(max-width: 786px){
          width: 100%;
          display: block;
          text-align: center;
        }
      }
    }

    .langs{
      @media(max-width: 991px){
        margin-top: 15px;
      }

      a{
        color: #fff !important;
        margin-right: 10px;
      }
    }
  }

  .bottom_footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    font-size: 14px;
    color: #494949;

    @media(max-width: 568px){
      justify-content: center;
      flex-direction: column;
    }

    .bottom_footer_left{
      width: 45%;
      text-align: left;

      @media(max-width: 568px){
        width: 100%;
        text-align: center;
        margin-top: 10px;
      }
    }

    .bottom_footer_right{
      width: 45%;
      text-align: right;

      @media(max-width: 568px){
        width: 100%;
        text-align: center;
      }
    }

    .bottom_footer_left a{
      font-weight: 700;
      color: #b80024;
      letter-spacing: -1.8px;
    }

    .bottom_footer_right a{
      font-size: 14px;
      color: #a1a1a1;
      margin-left: 12px;
    }
  }
}