header{
  //background: linear-gradient(#c6002a,#620000);

  .header-up-wrapper,
  .header-down-wrapper{
    .container{
      width: 1470px;
      max-width: 1470px;
    }
  }

  .header-up-wrapper{
    background: #bf0006;

    .inner-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 8px;
    }
  }

  .header-down-wrapper{
    background: #9d0005;

    .inner-wrapper-down{
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      ul.custom-navigation{

        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 991px){
          visibility: hidden;
        }

        .menu-item{
          line-height: 38px;
          border-bottom: 2px solid transparent;
          width: 150px;
          padding: 0 10px;

          position: relative;

          &:hover{
            border-bottom: 2px solid #fff;
            background: rgba(255,255,255,.3)!important;
          }

          .menu-item-link{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 17px;
            color: #fff;
            letter-spacing: 2px;
            position: relative;
            background: transparent !important;
            background-clip: unset !important;
            -webkit-text-fill-color: unset !important;
            text-decoration: none !important;

            &.with_arrow{
              &::after{
                content: '';
                display: block;
                background: url("https://kisskiss.show/assets/v.2/img/arrow_down.png");
                width: 10px;
                height: 8px;
                background-repeat: no-repeat;
                background-size: contain;
                margin-left: 7px;
                margin-top: 2px;
              }
            }

          }

          .custom-item-elemetns{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: calc(100% + 1px);
            z-index: 1;

            &.hide{
              display: none;
            }

            ul{
              background: #9d0005;
              max-height: 250px;
              height: auto;
              overflow-y: auto;
              padding: 5px 0;

              &::-webkit-scrollbar-thumb {
                width: 10px;
                background: #bf0006;
                border-radius: 0;
              }

              &::-webkit-scrollbar-track {
                background: rgba(19,19,19,.5);
              }

              &::-webkit-scrollbar{
                width: 10px;
              }

              li{
                padding: 0 10px;

                a{
                  margin: 0;
                  background: 0 0;
                  line-height: 20px;
                  white-space: pre-wrap;
                  color: #d8dada;
                }
              }
            }
          }
        }
      }

      .navbar-toggler{
        position: absolute;
        left: 0;
        top: 9px;
        cursor: pointer;

        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;

        span{
          height: 2px;
          width: 25px;
          background: white;
          margin-bottom: 4px;

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      //
      //.navbar-nav{
      //  display: flex;
      //  -ms-flex-align: center;
      //  align-items: center;
      //  flex-direction: row;
      //  white-space: nowrap;
      //  justify-content: center;
      //  margin-top: 0;
      //
      //  .nav-item{
      //    line-height: 38px;
      //    border-bottom: 2px solid transparent;
      //    width: 150px;
      //    padding: 0 10px;
      //
      //    &:hover{
      //      border-bottom: 2px solid white;
      //      background: rgba(255, 255, 255, 0.3) !important
      //    }
      //
      //    .nav-link{
      //      text-transform: uppercase;
      //      font-size: 20px;
      //      font-weight: 700;
      //      color: #fff;
      //      letter-spacing: 2px;
      //      padding-right: 15px;
      //      padding-left: 15px;
      //      position: relative;
      //      background: linear-gradient(#fafafa 35%, #9c9c9c 99%);
      //      -webkit-background-clip: text;
      //      -webkit-text-fill-color: transparent;
      //
      //      display: flex;
      //      -ms-flex-align: center;
      //      align-items: center;
      //      justify-content: center;
      //    }
      //  }
      //}
    }
  }


  .navbar-custom{
    justify-content: space-between !important;
  }

  .logo-and-button{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    .navbar-toggler{
      display: flex;
      height: 30px;
      width: 35px;
      padding: 5px;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-direction: column;
      flex-direction: column;

      span{
        height: 3px;
        background: white;
        display: block;
        margin-bottom: 3px;
        width: 100%;
      }
    }

    .logo{
      margin-right: 0;
      margin-left: 10px;
      height: 60px;
      width: 190px;

      img{
        height: 100%;
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }

  .categories-header{
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .navbar-nav{
      flex-direction: row;

      .nav-item{
        margin-right: 10px;

        &.dropdown:hover{
          .dropdown-menu{
            display: block;
            margin-top: 0;
          }
        }

        .nav-link{
          color: #fff;

          &:hover{
            opacity: .7;
          }
        }

        .dropdown-menu{
          left: unset;
          top: 92%;

          background: linear-gradient(#c6002a,#620000);
          max-height: 50vh;
          overflow: auto;

          a{
            color: #d8dada;

            &:hover{
              opacity: .7;
              text-decoration: underline;
              background: transparent;
            }
          }

          &::-webkit-scrollbar {
            width: 10px;
            background: #890010;
            border-radius: 20px;
          }
          &::-webkit-scrollbar-thumb {
            width: 10px;
            background: #890010;
            border-radius: 20px;
          }
          &::-webkit-scrollbar-track {
            background: rgba(19, 19, 19, .5);
          }
        }
      }
    }

    .custom-search{
      position: relative;
      width: 100%;

      .h_search_input{
        background: rgba(19, 19, 19, .5);
        font-size: 18px;
        padding: 0 0 0 48px;
        height: 38px;
        border: none;
        outline: none;
        color: #fff;

        width: 330px;
        border-radius: 5px;
        background: #9d0005;

        &:focus{
          outline: none;
          box-shadow: none;
        }
      }

      .h_search_submit{
        height: 100%;
        display: block;
        width: 48px;
        background: url(https://kisskiss.show/assets/img/h_search.png) no-repeat center;
        background-size: 16px;
        position: absolute;
        left: 8px;
        border: none;
        box-shadow: none;
        outline: none;
        cursor: pointer;
      }
    }
  }

  .login-data-header{
    margin-left: 100px;

    display: flex;
    align-items: center;

    .h_username{
      padding: 5px 10px 5px 30px;
      background: url(https://kisskiss.show/assets/img/h_username.png) no-repeat left center;
      background-size: 25px;
      font-size: 18px;
      color: #d8dada;
      cursor: pointer;
    }

    .h_credit{
      padding: 5px 10px 5px 30px;
      background: url(https://kisskiss.show/assets/img/h_credit.png) no-repeat left center;
      background-size: 25px;
      font-size: 18px;
      color: #fff;
      cursor: pointer;

      &:hover{
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}