// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import "node_modules/font-awesome/scss/font-awesome";

// Data Tables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

@import "node_modules/select2/dist/css/select2";
// AdminLTE
@import "node_modules/admin-lte/dist/css/AdminLTE";
@import "node_modules/admin-lte/dist/css/skins/_all-skins";

@import "node_modules/@fancyapps/fancybox/dist/jquery.fancybox";

.img-thumbnail{
  max-width: 100px;
  img{
    width:100%;
  }
}

ul.grid{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid-item{
  width: 33.33%;
  padding: 5px;
  height: 310px;

  .grid-item-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .mailbox-attachment-icon{
      height: 230px;

      img{
        width: 100%;
        height: 100% !important;
        object-fit: cover;
      }
    }

    .mailbox-attachment-info{
      height: 70px;

      .mailbox-attachment-name{
        overflow: hidden;
        height: 20px;
        display: block;
      }

      .mailbox-attachment-size{
        margin-top: 5px;

        &.flex-reverse-custom{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

@media(max-width: 991px){
    .grid-item {
      width: 50%;
    }
  }

@media(max-width: 786px){
    .grid-item {
      width: 50%;
    }
  }

@media(max-width: 568px){
    .grid-item {
      width: 100%;
    }
  }
