
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome";
@import 'custom/main';
@import "node_modules/@fancyapps/fancybox/dist/jquery.fancybox";
@import "node_modules/jquery-nice-select/css/nice-select";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}



