@font-face {
  font-family: 'Calibri';
  src: url('/resources/fonts/calibri/Calibri.eot');
  src: local('Calibri'),
  url('/resources/fonts/calibri/Calibri.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/calibri/Calibri.woff2') format('woff2'),
  url('/resources/fonts/calibri/Calibri.woff') format('woff'),
  url('/resources/fonts/calibri/Calibri.ttf') format('truetype'),
  url('/resources/fonts/calibri/Calibri.svg#Calibri') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('/resources/fonts/calibri/Calibri-Bold.eot');
  src: local('Calibri Bold'), local('Calibri-Bold'),
  url('/resources/fonts/calibri/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/calibri/Calibri-Bold.woff2') format('woff2'),
  url('/resources/fonts/calibri/Calibri-Bold.woff') format('woff'),
  url('/resources/fonts/calibri/Calibri-Bold.ttf') format('truetype'),
  url('/resources/fonts/calibri/Calibri-Bold.svg#Calibri-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Calibri';
  src: url('/resources/fonts/calibri/Calibri-Italic.eot');
  src: local('Calibri Italic'), local('Calibri-Italic'),
  url('/resources/fonts/calibri/Calibri-Italic.eot?#iefix') format('embedded-opentype'),
  url('/resources/fonts/calibri/Calibri-Italic.woff2') format('woff2'),
  url('/resources/fonts/calibri/Calibri-Italic.woff') format('woff'),
  url('/resources/fonts/calibri/Calibri-Italic.ttf') format('truetype'),
  url('/resources/fonts/calibri/Calibri-Italic.svg#Calibri-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}